body{
background: rgb(11, 38, 70) !important;
background: -moz-linear-gradient(225deg, rgba(24,12,227,0.9640231092436975) 0%, rgba(23,23,158,1) 58%, rgba(8,22,78,1) 100%);
background: -webkit-linear-gradient(225deg, rgba(24,12,227,0.9640231092436975) 0%, rgba(23,23,158,1) 58%, rgba(8,22,78,1) 100%);
background: linear-gradient(225deg, rgba(24,12,227,0.9640231092436975) 0%, rgba(23,23,158,1) 58%, rgba(8,22,78,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180ce3",endColorstr="#08164e",GradientType=1);
}
.card {
    background: black;
}
#sixsix{
     padding: 70px 0;
}

.about-title-tech-font {
    letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  text-shadow: 2px 2px #35d734, 7px 7px #000000;


}
p {
    color: white;
}
h1 {
    color: white;
}
.fa-linkedin {
    color:white;
}


