:root {
  --cardWidth: 290px;
  --cardHeight: 200px;
  --cardMargin: 16px;
}
.card-show-off-main-section{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

 
}
.show-off-showcase-card {
  width: var(--cardWidth);
  height: var(--cardHeight);
  margin: auto;
  border-radius: 8px;
  background: #0042aa;
  box-sizing: border-box;
 margin-bottom: 10px;
text-align:center;
    -webkit-box-shadow: 4px 14px 50px -30px #3B95FF; 
box-shadow: 4px 14px 50px -30px #3B95FF;
}
.show-off-showcase-card h1 {
    color:white;
    width:100%;
    text-align:center;
    padding: 5px;
      border-radius: 8px;
}
.show-off-showcase-card p {
    padding: 0px 20px 25px 20px;
}
/*.the-border-line {
    border-bottom: 2px solid #c0c0c0;
    width: 50%;
    text-align:center;
    margin:auto;
}*/
.show-off-showcase-card i {
    margin:auto;
    text-align:center;
    padding:auto;
}


.card {
    background: black;
}
#sixsix{
     padding: 70px 0;
}

.about-title-tech-font {
    letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  text-shadow: 2px 2px #35d734, 7px 7px #000000;


}
p {
    color: white;
}
h1 {
    color: white;
}
.fa-linkedin {
    color:white;
}


