body{
background: rgb(87,21,173);
background: -moz-linear-gradient(45deg, rgba(87,21,173,1) 0%, rgba(87,13,116,1) 46%, rgba(0,28,83,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(87,21,173,1) 0%, rgba(87,13,116,1) 46%, rgba(0,28,83,1) 100%);
background: linear-gradient(45deg, rgba(87,21,173,1) 0%, rgba(87,13,116,1) 46%, rgba(0,28,83,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5715ad",endColorstr="#001c53",GradientType=1);
}
.container-section-about-sections {
    background: rgb(37,37,122);
    margin:0; 
    border-radius: 15px;
}
.card {
    background: black;
}
p {
    color:white;
}
h1 {
    color: white !important;
}
.community-join-button {
	border-radius:14px;
	border:4.7px solid #1a0a53;
	font-size:22px;
    margin-top: 1.5rem;
}
.community-join-button:hover {
	background: transparent;
	background-color: transparent;
}

.community-row {
    padding: 0;
    margin: 0;
}
span {
        letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ff6a00;
  text-shadow: 2px 2px #831100, 7px 7px #000000;
}
.community-blog-preview-post {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    background-color: black;
}
#community-blog-preview-post {
    background-color: #3a3a3a;
    position: relative;
}

#community-blog-preview-post h1{
    float: left;
    color: #ffffff;
    cursor: pointer;
    transition: 300ms;
    text-align: center;
}
#community-blog-preview-post h2{
    float: right;
    color: #b9b9b9;
    font-size: .9rem;
    position: absolute; 
    bottom: 0;
    letter-spacing: .8px;

}
#community-blog-preview-post h1:hover{
    float: left;
    color: #88d4d0;
}