@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
background: rgb(21,90,173);
background: -moz-linear-gradient(45deg, rgba(21,90,173,1) 0%, rgba(7,53,92,1) 54%, rgba(0,20,59,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(21,90,173,1) 0%, rgba(7,53,92,1) 54%, rgba(0,20,59,1) 100%);
background: linear-gradient(45deg, rgba(21,90,173,1) 0%, rgba(7,53,92,1) 54%, rgba(0,20,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#155aad",endColorstr="#00143b",GradientType=1);
}
h3 {
    color: white;
    font-weight: 150;
}
.contact-form-section { 
    max-width:420px; 
    padding: 2.8rem;
    padding-top: 2rem;
    border-radius: 10px;
    margin-top: 15px !important;
    margin: auto;
}

.feedback-input, 
.feedback-input-message {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #f99500;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
    border: 1px solid #0042aa; 
}
.feedback-input:hover {
        -webkit-box-shadow: 14px 7px 50px 9px rgba(39,255,234,0.28); 
box-shadow: 14px 7px 50px 9px rgba(39,255,234,0.28);
}
.feedback-input-message {
    height: 10rem;
}
.feedback-input-message:focus {
    border: 1px solid #0042aa; 
}
textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}
textarea:hover {
        -webkit-box-shadow: 14px 7px 50px 9px rgba(39,255,234,0.28); 
box-shadow: 14px 7px 50px 9px rgba(39,255,234,0.28);
}

.submit-button {
    font-size:20px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  width: 100%;
  border: 2px solid transparent;
      cursor:pointer;
}

.contact-submission-recieved-title {
    color: #d6d6d6;
    text-align: center;
    font-size: 3.5rem;
    margin: auto;
    max-width: 50rem;
    align-items:center;
    margin-top: 3.25rem;
    border-radius: 25px;
    padding: .3rem;   
}


.contact-form-image {
    padding: 3rem;

    border-radius: 10px;

}
    
span {
    	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #00143b;
  text-shadow: 2px 2px #f99500, 7px 7px #000000;
}