@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
background: rgb(0,6,11);
background: -moz-linear-gradient(45deg, rgba(0,6,11,0.9640231092436975) 0%, rgba(2,50,91,1) 45%, rgba(0,84,154,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(0,6,11,0.9640231092436975) 0%, rgba(2,50,91,1) 45%, rgba(0,84,154,1) 100%);
background: linear-gradient(45deg, rgba(0,6,11,0.9640231092436975) 0%, rgba(2,50,91,1) 45%, rgba(0,84,154,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00060b",endColorstr="#00549a",GradientType=1);
}
h3 {
    color: white;
    font-weight: 150;
}
.hackathon-main-section { 
    max-width:1000px; 
    border-radius: 25px;
}
.timer-subsection-hackathon {
    max-width:800px; 
    padding: 1rem;
    border-radius: 25px;
    margin: 1rem;
   -webkit-box-shadow: 37px 39px 50px 4px rgba(255,255,255,0.08); 
box-shadow: 37px 39px 50px 4px rgba(255,255,255,0.08);
}

img {
    border-radius: 15px;
}



img {
    margin-top: 1rem;
}

#countdown p {
    font-size: .9rem;
    color:#c1c1c1;
}
img {
    border-radius: 15px;
}
#timer-subsection-hackathon p{
   color:#53d5fd;
}
.trophy-icon {
    width: 40px;
}