/* navigation */
#main-nav .container {
 grid-template-columns: 1fr;
 grid-gap: .5rem;
}
#main-nav ul,
#main-nav .logo {
 justify-self: center;
}
#main-nav ul li a {
 padding: 0.30rem;
 font-size: .85rem;
}
#home-articles .articles-container {
 grid-template-columns: repeat(2, 1fr);
}
#home-articles .articles-container > *:first-child {
 grid-template-columns: 1fr;
 grid-column: 1;
}
#home-articles .articles-container > *:last-child {
 grid-template-columns: 1fr;
 grid-column: 1;
}
@media(max-width:600px) {
  /* stack grid items */
  /* stack home articles */
  #showcase .showcase-container,
  #home-articles .articles-container,
  #main-footer .footer-container {
   grid-template-columns: 1fr;
  }
  /* must clear the span so set grid-column to 1 */
  #main-footer .footer-container > *:last-child {
   grid-column: 1;
  }
 /* #main-footer .footer-container > *:first-child,
   #main-footer .footer-container > *:nth-child(2),
   #main-footer .footer-container > *:nth-child(3),
    #main-footer .footer-container > *:nth-child(4)
   */
   /* about page */
   .page-container {
    grid-template-columns: 1fr;
    text-align: center;
   }
    /* clear span   */
   .page-container > *:first-child {
    grid-row: 1;
   }
   .l-heading {
    font-size: 2rem;
   }
 }
/*community page sizing*/
@media screen and (min-width: 800px) {
  div.community-page-text-title {
    font-size: 80px;
  }
}
@media screen and (max-width: 670px) {
  div.community-page-text-title {
    font-size: 38px;
  }
}
@media screen and (max-width: 400px) {
  div.community-page-text-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 330px) {
  div.community-page-text-title {
    font-size: 26px;
  }
}

