:root{
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f1f1f1;
  --dark-color: #333;
  --max-width: 1100px;
}
.category{
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-color:  #575542;

}
/* moving background */
body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/* end moving background */




a{
  color: var(--dark-color);
  text-decoration: none;
}
ul{
  list-style: none;
}
p{
  margin: 0.5rem 0;
}
img{
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Staatliches', cursive;
  margin-bottom: .75rem;
  line-height: 1.3;
}

/* Utilities */
.container{
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.category{
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.category-sports{
  background: var(--sports-color);
}
.category-ent{
  background: var(--ent-color);
}
.category-tech{
  background: var(--tech-color);
}
.btn{
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  transition: 600ms;
}
.btn-light{
  background: var(--light-color);
  color: var(--dark-color);
}
.btn-primary{
  background: var(--primary-color);
}
.btn-secondary{
  background: var(--secondary-color);
}
.btn:hover{
  background: #98fb98;
  color: #FF0000;
  transition: 600ms;
}
.btn-block{
  display: block;
  width: 100%;
  text-align: center;
}
.card{
  background: #fff;
  padding: 1rem;
}
.card:hover{
  transform: scale(1.05);
  transition:900ms;


}

.bg-dark{
  background: var(--dark-color);
  color: #fff;
}
.bg-primary{
  background: var(--primary-color);
  color: #fff;
}
.bg-secondary{
  background: var(--secondary-color);
  color: #fff;
}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3
.bg-secondary a{
  color: #fff;
}
.py-1{
  padding: 1.5rem 0;
}
.py-2{
  padding: 2rem 0;
}
.py-3{
  padding: 3rem 0;
}
.p-1{
  padding: 1.5rem;
}
.p-2{
  padding: 2rem;
}
.p-3{
  padding: 3rem;
}

.list li{
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: #555 dotted 1px;
  width: 90%;
}
.list li a:hover{
  color: var(--primary-color) !important;
}
.page-container{
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}
.page-container > *:first-child{
  grid-row: 1 / span 3;
}
.l-heading{
  font-size: 3.5rem;
  color: rgba(85, 114, 243, 0.774);
}

/* Navigation Bar */
#main-nav{
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
#main-nav .container{
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}
#main-nav .logo{
  width: 180px;
}
#main-nav ul{
  justify-self: end;
  display: flex;
}
#main-nav ul li a{
  padding: 0.75rem;
  font-weight: bold;
}
#main-nav ul li a.current{
  border-bottom: 4px solid var(--primary-color);
}
#main-nav ul li a:hover{
  background: var(--light-color);
  color: var(--dark-color);
}
#main-nav .social{
  justify-self: center;
}
#main-nav .social i{
  color: #777;
  margin-right: 0.5rem;
}

/* Showcase */
#showcase{
  color: #fff;
  background: var(--dark-color);
  padding: 2rem;
  position: relative;
}
#showcase:before{
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
#showcase .showcase-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#showcase .showcase-content{
  z-index: 1;
}
#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Articles */
#home-articles .articles-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child{
  display: grid;
  grid-template-columns: 	repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: span 2;
  align-items: center;
}
#home-articles .articles-container > *:last-child{
  grid-column: span 2;
}
#article .meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem; 
}
#article .meta .category{
  margin-top: 0.4rem;
}

/* Footer */
#main-footer{
  background: var(--dark-color);
  color: #fff;
}
#main-footer img{
  width: 150px;
}
#main-footer a{
  color: #fff;
}
#main-footer .footer-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
#main-footer .footer-container > *:last-child{
  background: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}
#main-footer .footer-container input[type='email']{
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
#main-footer .footer-container input[type='submit']{
  width: 90%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* about section*/
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.column2 {
  text-align: center;
  height: 6rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

/* animated butons */
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: 300ms;
  
}

.button:hover {
  background-color: rgb(130, 221, 152);
  color: whitesmoke;
  transition: 300ms;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.legalbutton {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.legalbutton:active,
.legalbutton:hover {
  outline: 0;
  color:#00DDEB;
}

.legalbutton span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.legalbutton:hover span {
  background: none;
}

@media (min-width: 768px) {
  .legalbutton {
    font-size: 24px;
    min-width: 196px;
  }
}

/* end of animated buttons*/

.legalbuttonsection {
  padding-top: 1.5rem;
  justify-content: center;
  float: left;
  padding-right: .5rem;

}
.whatweoffer {
  font-size: 3.5rem;
}
.aboutsubtitle {
  font-size: 2.5rem;
  color: rgba(37, 75, 247, 0.774);
}
.executiveprofile {
  font-size: 2rem;
  color:rgb(90, 89, 89);
}
.foundertitle {
  font-size: 2rem;
  color:rgb(90, 89, 89);
  padding-top: 2rem;

}

.hometitle {
  font-size: 6rem;
}

.testing {
 font-size: 2rem;
}